<div class="main-container">
    <!-- Toolbar -->
    <div class="toolbar" role="banner" fxLayout="row" fxLayoutAlign="space-between center">
        <!-- <div class="spacer"></div> -->
        <img alt="Logo" src="assets/images/icon.PNG">
        <div class="spacer"></div>
        <div style="height: 75%;" fxFlex='100' fxFlex fxFlexLayout="row">
            <div fxFlex fxFlex='25' fxLayoutAlign="center center" style="border: 1px solid grey;">
                <mat-select placeholder="Bits">
                    <mat-option class="mat-Option">Bits</mat-option>
                    <mat-option>Bit</mat-option>
                </mat-select>
            </div>
            <div fxFlex='75'>
                <input matInput type="text" class="apply-search" [(ngModel)]="searchText" (keyup.enter)="applySearch(event)">
            </div>
        </div>
        <div class="spacer"></div>
        <div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <mat-icon class="mr-8">mode_edit</mat-icon>
                <mat-icon class="mr-8">apps</mat-icon>
                <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
            </div>
        </div>

    </div>

    <div class="content" fxLayout="column" fxLayoutAlign="start start">

        <div class="profile-container" fxLayout="row" fxLayoutAlign="end center">
            <div class="background">
                <img alt="background" src="assets/images/background.png">
            </div>
            <div class="profileImg">
                <img alt="big-dp" src="assets/images/bigdp.png">
            </div>

            <div class="pdrl" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="end end">
                    <button class="mr-32" mat-stroked-button><mat-icon class="plusIcon">close &nbsp;</mat-icon>Engage</button>
                    <p class="arrow"></p>
                </div>
                <p class="heading mb-1">
                    Artificial intelligence <span class="grey-text">(private)</span>
                </p>
                <div class="mb-1" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="40">
                        Karan Meshram
                    </div>
                    <div fxFlex="40" fxLayoutGap="20%" class="grey-text" fxLayout="row" fxLayoutAlign="center center">
                        <!-- fxLayoutGap="10%" -->
                        <p>7 Expert</p>
                        <p>48 Engaged</p>
                        <p>215 Bits</p>
                    </div>
                </div>
                <div class="discription">
                    <p>
                        Description is the pattern of narrative development that aims to make vivid a place, object, character, or group. Description is one of four rhetorical modes, along with exposition, argumentation, and narration. In practice it would be difficult to write
                        literature that drew on just one of the four basic modes. <a>Read More...</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="card-container fwd" fxFlex="100" fxLayoutGap="5%" fxLayout="row" fxLayoutAlign="start start">
            <div class="post-bits" fxFlex="55" fxLayout="row" fxLayoutAlign="start space-between" fxLayoutGap="70%">
                <p style="font-weight: bold; font-size: large;">
                    <mat-icon>mode_edit</mat-icon><span>&nbsp; Post Bits</span> </p>
                <p>
                    <mat-icon>camera_alt</mat-icon>
                </p>
            </div>
            <div class="post-bits" fxFlex="40" fxLayout="row" fxLayoutGap="20%" fxLayoutAlign="center center">
                <p style=" font-weight: bold; font-size: large;">
                    Start Discussion </p>
                <p>
                    <mat-icon>call</mat-icon>
                </p>
                <p>
                    <mat-icon>videocam</mat-icon>
                </p>
            </div>
        </div>
    </div>
    <div class="content" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="start start">
        <div class="card-container" fxFlex="55" fxLayout="column" fxLayoutAlign="start start">
            <div class="post-bits mb-30" fxLayout="column" fxLayoutAlign="start space-between">
                <div fxLayout="row">
                    <div>
                        <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    </div>
                    <div fxLayout="column" style="margin-top: 7px;">
                        <p> Eric Cantona</p>
                        <p> 23/04/2020 at 11:14 AM</p>
                    </div>
                    <div style="margin-left: 58%;" fxLayoutAlign="end end">
                        <p class="smallArrow"></p>
                    </div>

                </div>
                <div fxFlex="100">
                    <img class="max-width" src="assets/images/cardimg1.PNG">
                </div>
                <div class="mb-2" style="border-bottom: solid 1px gray; ">
                    <p>
                        Description is the pattern of narrative development that aims to make vivid a place, object, character, or group. Description is one of four rhetorical modes, along with exposition, argumentation, and narration. In practice it would be difficult to write
                        literature that drew on just one of the four basic modes.
                    </p>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="15%" fxLayoutAlign="center center">
                    <div fxFlex="40" fxLayoutGap="15%" fxLayoutAlign="center center">
                        <mat-icon>thumb_up</mat-icon>
                        <span> 45</span>
                        <span> Likes</span>
                    </div>
                    <div fxFlex="40" fxLayoutGap="15%" fxLayoutAlign="center center">
                        <mat-icon>comment</mat-icon>
                        <span>12 </span>
                        <span>Comments</span>
                    </div>
                    <mat-icon class="reply">reply</mat-icon>
                </div>
            </div>

            <div class="post-bits mb-30" fxLayout="column" fxLayoutAlign="start space-between">
                <div fxLayout="row">
                    <div>
                        <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    </div>
                    <div fxLayout="column" style="margin-top: 7px;">
                        <p> Eric Cantona</p>
                        <p> 23/04/2020 at 11:14 AM</p>
                    </div>
                    <div style="margin-left: 58%;" fxLayoutAlign="end end">
                        <p class="smallArrow"></p>
                    </div>

                </div>
                <div fxFlex="100">
                    <img class="max-width" src="assets/images/cardimg1.PNG">
                </div>
                <div class="mb-2" style="border-bottom: solid 1px gray;">
                    <p>
                        Description is the pattern of narrative development that aims to make vivid a place, object, character, or group. Description is one of four rhetorical modes, along with exposition, argumentation, and narration. In practice it would be difficult to write
                        literature that drew on just one of the four basic modes.
                    </p>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutGap="15%" fxLayoutAlign="center center">
                    <div fxFlex="40" fxLayoutGap="15%" fxLayoutAlign="center center">
                        <mat-icon>thumb_up</mat-icon>
                        <span> 45</span>
                        <span> Likes</span>
                    </div>
                    <div fxFlex="40" fxLayoutGap="15%" fxLayoutAlign="center center">
                        <mat-icon>comment</mat-icon>
                        <span>12 </span>
                        <span>Comments</span>
                    </div>
                    <mat-icon class="reply">reply</mat-icon>
                </div>
            </div>

        </div>
        <div class="card-container" fxFlex="40" fxLayout="column" fxLayoutAlign="start start">
            <div class="mb-10" style="border: 1px solid grey;" fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
                <h2 class="news">News and Announcemens</h2>
                <h5 style="padding-left: 5px; border-top: 1px solid gray;">
                    Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles .
                </h5>
                <h5 style="padding-left: 5px;">
                    Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles .
                </h5>
                <h5 style="padding-left: 5px;">
                    Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles .
                </h5>
                <h5 style="padding-left: 5px;">
                    Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles .
                </h5>
            </div>
            <div class="disscussion-box" fxFlex="100" fxLayout="column" fxLayoutGap="20%" fxLayoutAlign="center center">
                <div class="fwd disscussion-heading" fxFlex="100" fxLayout="row" fxLayoutGap="20%" fxLayoutAlign="center center">
                    <p style=" font-weight: bold; font-size: large;">
                        Disscussion </p>
                    <p>
                        <mat-icon>call</mat-icon>
                    </p>
                    <p>
                        <mat-icon>videocam</mat-icon>
                    </p>
                </div>
            </div>
            <div class="post-bits" fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="row">
                    <img class="dp mr-8 mb-2" alt="dp" src="assets/images/dp.png">
                    <p>
                        Description is the pattern of narrative development that aims to make vivid a place
                    </p>
                </div>
                <div fxLayout="row" class="mb-2">
                    <p>
                        Description is the pattern of narrative development that aims to make vivid a place
                    </p>
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                </div>
                <div fxLayout="row" class="mb-2">
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    <p>
                        Description is the pattern of narrative development that aims to make vivid a place
                    </p>
                </div>
                <div fxLayout="row" class="mb-2">
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    <p>
                        Description is the pattern of narrative development that aims to make vivid a place
                    </p>
                </div>
                <div fxLayout="row" class="mb-2" style="border-bottom: 1px solid grey;">
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    <p>
                        Description is the pattern of narrative development that aims to make vivid a place
                    </p>
                </div>
                <div fxLayout="row" style="min-width: 80%;" fxFlex="100" fxLayoutAlign="start start">
                    <input matInput type="text" class="apply-discussion-search" [(ngModel)]="searchText" (keyup.enter)="applyDiscussionSearch(event)">
                    <mat-icon class="mt-10 play_arrow">send</mat-icon>
                </div>
            </div>
            <div class="mb-10" fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
                <h2>Experts (5)</h2>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    <Div fxLayout="column" fxLayoutAlign="start start">
                        <p>
                            Jhon Wayne
                        </p>
                        <p>
                            Writer
                        </p>
                    </Div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    <Div fxLayout="column" fxLayoutAlign="start start">
                        <p>
                            Eric Cantona
                        </p>
                        <p>
                            Data Scientiest
                        </p>
                    </Div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    <Div fxLayout="column" fxLayoutAlign="start start">
                        <p>
                            Maria Kanellis
                        </p>
                        <p>
                            Devloper
                        </p>
                    </Div>
                </div>
            </div>

            <div class="mb-10" fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
                <h2>Engaged (5)</h2>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    <Div fxLayout="column" fxLayoutAlign="start start">
                        <p>
                            Jhon Wayne
                        </p>
                        <p>
                            Writer
                        </p>
                    </Div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    <Div fxLayout="column" fxLayoutAlign="start start">
                        <p>
                            Eric Cantona
                        </p>
                        <p>
                            Data Scientiest
                        </p>
                    </Div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start">
                    <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
                    <Div fxLayout="column" fxLayoutAlign="start start">
                        <p>
                            Maria Kanellis
                        </p>
                        <p>
                            Devloper
                        </p>
                    </Div>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>