<div class="main-container">
    <!-- Toolbar -->
    <div class="toolbar" role="banner" fxLayout="row" fxLayoutAlign="space-between center">
        <img alt="Logo" src="assets/images/icon.PNG">
        <div class="spacer"></div>
        <div style="width: 40%; height: 75%;" fxFlex fxFlexLayout="row">
            <div fxFlex fxFlex='20' fxLayoutAlign="center center" style="border: 1px solid grey;">
                <mat-select placeholder="Bits">
                    <mat-option class="mat-Option">Bits</mat-option>
                    <mat-option>Bit</mat-option>
                </mat-select>
            </div>
            <input matInput type="text" class="apply-search" [(ngModel)]="searchText" (keyup.enter)="applySearch(event)">
        </div>
        <div>
            <div class="" fxLayout="row" fxLayoutAlign="end center">
                <mat-icon class="mr-8">notifications</mat-icon>
                <mat-icon class="mr-8">apps</mat-icon>
                <img class="dp mr-8" alt="dp" src="assets/images/dp.png">
            </div>
        </div>
        <div class="spacer"></div>
    </div>

    <div class="content" fxLayout="column" fxLayoutAlign="start start">

        <div class="profile-container" fxLayout="row" fxLayoutAlign="end center">
            <div class="background">
                <img alt="background" src="assets/images/background.png">
            </div>
            <img alt="big-dp" src="assets/images/big-dp.png">
            <div class="background" fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="end end">
                    <button class="mr-32" mat-stroked-button><mat-icon class="plusIcon">close &nbsp;</mat-icon>Engage</button>
                    <p class="arrow"></p>
                </div>
                <p class="heading">
                    Artificial intelligence <span class="grey-text">(private)</span>
                </p>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <p>
                        Karan Meshram
                    </p>
                    <div class="grey-text" fxLayout="row" fxLayoutAlign="center center">
                        <!-- fxLayoutGap="10%" -->
                        <p>7 expert</p>
                        <p>48 Engaged</p>
                        <p>215 Bits</p>
                    </div>
                </div>
                <div class="discription">
                    <p>
                        discription discription discription discription discription discription discription discription discription discription discription discription discription discription discription discription discription discription <a>Read More...</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="card-container" fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <div class="post-bits" fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
                <p style="width: 60%; font-weight: bold; font-size: large;">
                    <mat-icon>mode_edit</mat-icon><span>Post Bits</span> </p>
                <p>
                    <mat-icon>camera_alt</mat-icon>
                </p>
            </div>
            <div class="post-bits" fxFlex="40" fxLayout="row" fxLayoutAlign="center center">
                <p style="width: 40%; font-weight: bold; font-size: large;">
                    Start Disscussion </p>
                <p>
                    <mat-icon>call</mat-icon>
                    <mat-icon>videocam</mat-icon>

                </p>
            </div>
        </div>
        <footer>
            Love Angular?&nbsp;
            <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
            <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </a>
        </footer>
    </div>

    <router-outlet></router-outlet>
</div>